/* General Rules */
body {
  background: #4CAF50;
}

main {
  margin: 0 5%;
}

h1 {
  background: -webkit-linear-gradient(red, yellow);
  background: -o-linear-gradient(red, yellow);
  background: -moz-linear-gradient(red, yellow);
  background: linear-gradient(red, yellow);
  margin-top: -1.5%;
}

table {
  width: 70%;
  margin: 5% auto;
}

tr {
  border: 3px solid black;
}
td {
  padding: 20px 15px;
}

footer {
  background: #CC6699;
  margin-top: 33%;
  padding-top: 1%;
  height: 6.5%;
}


button a {
  color: white;
}

button a:hover {
  text-decoration: none;
}

.exp1 {
  float: left;
  width: 15%;
}

.exp2 {
  float: right;
  width: 15%;
}

.exp-block {
  margin-bottom: 50px;
}

.options {
  margin-top: 8%;
  position: fixed;
}

/* Selectors for coloring */

#new-game { background: blue; }
#help { background: green; }
#achievements { background: orange; }
#top-scores { background: red; }

.greaterThan { background: green; }
.equals { background: gold; }
.lessThan { background: red; }

#game-help {
  position: fixed;
  margin: 5% 10%;
}

.questions-block {
	margin: 3% 20%;
}

.exp-left {
	float: left;
	width: 15%;
}

.game-block {
  margin: 16% 0;
}

.controls {
  position: fixed;
  margin-top: 30px;
}

/* Game buttons */
.greaterThan, .equals, .lessThan {
  margin: 30px 10px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
}

/* Game information */
.notification {
  min-height: 50px;
  background: gold;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 10px 5px;
  width: 45%;
}

#level {
  white-space: nowrap;
}

#score, #high-score {
  margin-left: 10%;
  font-weight: bold;
}

.locked {
  background: #888888;
}

.unlocked {
  background: #FFCC00;
}

/* assets */

.achievement-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
/* social */

#fb-container {
  margin-top: 20%;
  position: fixed;
}
