body {
  background: #4CAF50;
}

main {
  margin-left: 5%;
}

h1 {
  background: -webkit-linear-gradient(red, yellow);
  background: -o-linear-gradient(red, yellow);
  background: -moz-linear-gradient(red, yellow);
  background: linear-gradient(red, yellow);
  text-align: center;
  margin-top: -1.5%;
}

.exp1 {
  float: left;
  width: 15%;
}

.exp2 {
  float: right;
  width: 15%;
}

.game-btn {
  padding: 5px 10px;
  color: white;
}

.options {
  margin-top: 8%;
  position: fixed;
}

#new-game {
  background: blue;
}

#help {
  background: green;
}

#achievements {
  background: orange;
}

#top-scores {
  background: red;
}

#game-help {
  position: fixed;
  margin-top: 12%;
}

.game-block {
  margin: 16% 0;
}

.controls {
  position: fixed;
  margin-top: 30px;
}

.greaterThan, .equals, .lessThan {
  margin: 30px 10px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
}

.greaterThan {
  background: green;
}

.equals {
  background: gold;
}

.lessThan {
  background: red;
}

#level {
  white-space: nowrap;
}

#score, #high-score {
  margin-left: 10%;
  font-weight: bold;
}
