/* General Rules */

body {
  background: #4CAF50;
}

main {
  margin: 0 5%;
}

h1 {
  background: -webkit-linear-gradient(red, yellow);
  background: -o-linear-gradient(red, yellow);
  background: -moz-linear-gradient(red, yellow);
  background: linear-gradient(red, yellow);
  margin-top: -1.5%;
}

table {
  width: 65%;
  margin: 5% auto;
}

tr {
  border: 3px solid black;
}

td {
  padding: 15px;
}

footer {
  background: #CC6699;
  bottom: 0;
  position: fixed;
  padding-top: 1%;
  height: 6.5%;
  width: 100%;
}


button a {
  color: white;
}

button a:hover {
  text-decoration: none;
}

/* Header */

#fun { color: red; }
#math { color: darkorange; }
#game { color: gold; }

#options {
  margin-top: 8%;
  position: fixed;
}

.exp-left {
  float: left;
  width: 15%;
}

/* Selectors for coloring */

#new-game { background: blue; }
#help { background: green; }
#achievements { background: orange; }
#top-scores { background: red; }

/* How To Play */

#help-block {
  background: gold;
}

#game-help {
  position: fixed;
  margin: 5% 30%;
}

.exp-block {
  margin-top: 20px;
  margin-bottom: 70px;
}

.exp1 {
  float: left;
  width: 15%;
}

.exp2 {
  float: right;
  width: 15%;
}

#questions-block {
  margin: 3% 20%;
  background: burlywood;
  padding: 2% 5%;
  border: 3px solid purple;
}

#game-block {
  margin: 14% 0;
}

#controls {
  position: fixed;
  margin-top: 30px;
}

/* Game buttons */

#greater-than, #equals, #less-than {
  margin: 30px 10px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
}

#greater-than { background: green; }
#equals { background: gold; }
#less-than { background: red; }

/* Game information */

#notification {
  min-height: 50px;
  background: gold;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 10px 5px;
  width: 45%;
  visibility: hidden;
}

#level {
  white-space: nowrap;
  font-weight: bold;
}

#score, #high-score {
  margin-left: 10%;
  font-weight: bold;
}

/* Achievements */

#achievements-summary {
  background: silver;
  width: 65%;
  margin: 2% auto 0 auto;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

#achievements-table {
  margin-top: 0;
}

.locked { background: #888888; }
.locked:hover { background: dimgray; }
.unlocked { background: #FFCC00; }
.unlocked:hover { background: goldenrod; }

.achievement-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Scores */

#scores-header {
  background: orange;
  height: 60px;
  text-indent: 2%;
}

.gold { background: gold; }
.silver { background: silver; }
.bronze { background: #8C7853; }

/* Social */

#fb-container {
  margin-top: 14%;
  position: fixed;
}

/* Related */

.game-section {
  width: 50%;
  margin: 0 auto;
}

#shapes { color: chocolate; }
#header-game { color: maroon; }
#snake { color: magenta; }
#online { color: chartreuse; }
