<html ng-app='mathGame'>

  <head>
    <title>Register</title>
    <ng-include src="'partials/links'"></ng-include>
    <style>
      body { opacity: 0; }
    </style>
  </head>
  
  <body>
  
    <script>
      window.onload = function() {
        setTimeout(function() {
          document.body.style.opacity="100";
        }, 100);
      }
    </script>
    
    <ng-include src="'partials/header'"></ng-include>
    
    <h1 class="text-center">Register</h1>
    
    <form class="form-horizontal"id="register-form" action="/register" method="post">

			<div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" />
      </div>
      
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" />
      </div>
      
      <input type="submit" value="Create Account" class="btn btn-primary"/>
      
    </form>
    
    <ng-include src="'partials/footer'"></ng-include>
    
    <script src="../scripts/main.min.js"></script>
    
  </body>
  
</html>