<html ng-app='mathGame'>

  <head>
    <title>High Scores</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'></link>
    <link rel='stylesheet' href='../assets/stylesheets/styles.css'></link>
  </head>

  <body>

    <ng-include src="'../header.html'"></ng-include>

    <h1 class='text-center'>High Scores Table</h1>

    <div class='achievements'>
      <table id='scores-table' ng-controller='scoresController'>

        <tr id='scores-header'>
          <th>Ranking</th>
          <th>Score</th>
          <th>Level</th>
        </tr>
        
        <tr ng-repeat='score in scoreData' class='{{score.class}}'>
          <td><strong>Rank {{ $index + 1 }}</strong></td>
          <td>{{ score.score }}</td>
          <td>{{ score.level }}</td>
        </tr>

      </table>
    </div>

    <ng-include src="'../footer.html'"></ng-include>
    
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src='../scripts/app.js'></script>
    <script src='../scripts/services/game.js'></script>
    <script src='../scripts/controllers/navController.js'></script>
    <script src='../scripts/controllers/scoresController.js'></script>

  </body>

</html>